# fly.toml app configuration file generated for ttgsoc-rolebot on 2025-10-25T13:50:20+11:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ttgsoc-rolebot'
primary_region = 'syd'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "off"
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
